<div #todoContainer >
  <form [formGroup]="todoForm"
    class="view"
    enctype="application/x-www-form-urlencoded"
    role="form"
    *ngIf="!todo.editing">

    <input class="toggle"
      type="checkbox"
      formControlName="completed"
      (change)="editTodo()"
      [ngClass]="{'hidden-todo': todo.editing}"/>

    <label [ngClass]="{'hidden-todo': todo.editing}">{{ todo.text }}</label>
    <button class="destroy" (click)="deleteTodo(todo.id)"></button>
  </form>

  <form
    *ngIf="todo.editing"
    [formGroup]="todoForm"
    enctype="application/x-www-form-urlencoded"
    role="form"
    (ngSubmit)="editTodo()"
    #debugEditForm>

    <input formControlName="text"
      class="edit"
      placeholder="What needs to be done"
      autofocus>
  </form>

</div>
