<form [formGroup]="todoForm"
  [ngClass]="{'view': !(doubleClicked$ | async) || !(openEdit$ | async)}"
  enctype="application/x-www-form-urlencoded"
  role="form"
  (ngSubmit)="editTodo()">


  <ng-container *ngIf="(doubleClicked$ | async) && (openEdit$ | async) as doubleClick; else display">
    <input formControlName="text"
      class="edit"
      placeholder="What needs to be done"
      autofocus>
  </ng-container>

  <ng-template #display>
    <input class="toggle"
      type="checkbox"
      formControlName="completed"
      (change)="editTodo()"/>

    <label #todoLabel>{{ todo.text }}</label>
    <button class="destroy" (click)="deleteTodo(todo.id)"></button>
  </ng-template>
</form>
